@import "../variables.css";

.rounded-blue-background{
    background-color: var(--primary-soft-blue);
    width: 80%;
    height: 198px;
    border-bottom-left-radius: 40%;
    border-top-left-radius: 141%;
}

.left .rounded-blue-background{
    transform: scaleX(-1);
}

@media (min-width:700px) {
    .rounded-blue-background{
        width: 55%;
        height: 295px;
        border-bottom-left-radius: 95%;
    }

    .feature__component .rounded-blue-background{
        width: 75%;
    }
}