.intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: flex-end;
    padding-top: 52px;
}

@media (min-width:700px) {
    .intro{
        flex-direction: row-reverse;
    }
}