header{
    display: flex;
    justify-content: space-between;
    padding: 2.4rem;
    align-items: center;
}

.menu-container{
    display: none;
    justify-content: space-around;
}

@media (min-width:700px) {
    header{
        padding: 2.4rem 8rem;
    }
}