
.illustration-container{
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 2.5rem;
}

.left{

}

.right{
    justify-content: flex-end;
}

.illustration-hero{
    position: absolute;
    left: 5%;
    top: -37px;
    max-width: 332px;
    max-height: 250px;
    z-index: 9;
}

.illustration-hero--composed{
    left: 16%;
    top: -36px;
}

@media (min-width: 700px) {
    .illustration-container{
        margin-top: 4rem;
    }

    .intro .illustration-container .illustration-hero{
        left: 20%;
        top: -106px;
        max-width: 570px;
        max-height: 375px;
    }
    .features__components .illustration-container .illustration-hero{
        left: 19%;
        top: -100px;
        max-width: 500px;
        max-height: 400px;
    }
}

