@import '../variables.css';

.form{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-soft-blue);
    color: #fff;
    font-weight: 400;
    padding: 4rem 2rem;
}

input{
    padding: 1rem;
    border: 0;
    outline: 0;
    border-radius: 7px;
    margin: 1rem 0;
}

input::placeholder{
    color: hsl(229, 18%, 81%);
}