@import '../variables.css';

.faq{
    margin: 0 2rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--neutral-blue);
    font-size: 15px;
}

.open{

}

.faq .faq-question{
    position: relative;

    transition: all 0.4s ease;
}

.faq .faq-question:hover{
    color: var(--primary-soft-red)
}

.faq .faq-answer{
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease;
}

.faq .faq-question::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;

    background-image: url('../../public/images/icon-arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
    transition: all 0.5s ease;
}

.faq.open .faq-question{
    margin-bottom: 0.7rem;
}

.faq.open .faq-answer{
    opacity: 1;
    max-height: 4rem;
    overflow-y: visible;
}

.faq.open .faq-question::after{
    top: 10%;
    transform: rotate(180deg);
    filter: invert(58%) sepia(80%) saturate(3991%) hue-rotate(328deg) brightness(96%) contrast(105%);
}

