@import '../variables.css';

.button{
    font-weight: 500;
    cursor: pointer;
}

.button--transparent{
    background: none;
    border: none;
    outline: none;
}


.button--red{
    background-color: var(--primary-soft-red);
    color: #fff;
    transition: all .6s ease;
}

.button--red:hover{
    outline: 1px solid var(--primary-soft-red);
    background-color: #fff;
    color: var(--primary-soft-red);
}

.button--blue{
    background-color: var(--primary-soft-blue);
    color: #fff;
    transition: all .6s ease;
}

.button--blue:hover{
    outline: 1px solid var(--primary-soft-blue);
    background-color: #fff;
    color: var(--primary-soft-blue);
}

.button--white{
    background-color: #fdf6f6;
}

/*menu*/

.button--menu a{
    color: var(--neutral-dark-blue);
    transition: all .6s ease;
}

.button--menu a:hover, .button--footer a:hover{
    color: var(--primary-soft-red);
}

/*MODAL MENU BUTTONS*/

.button--modal{
    color: #fff;
    border-top: 1px solid var(--neutral-blue);
    flex-grow:1;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
}

.button--modal:nth-child(3){
    border-bottom: 1px solid var(--neutral-blue);
}

.button--modal:last-child{
    position: absolute;
    top: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    top: 110%;
}

/*BUTTONS BOX TYPE*/

.button--box{
    padding: 1rem 1rem;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 10px 19px -6px rgba(0,0,0,0.28);
    flex-grow: 1;
}

/*BUTTONS FEATURES*/

.button--feature{
    border-top: 1px solid var(--neutral-blue);
    flex-grow: 1;
    color: var(--neutral-blue);
    font-weight: 400;
}

.button--feature--selected{
    color: black;
    position: relative;
}

.button--feature--selected::after{
    content: '';
    display: block;
    width: 30vw;
    height: 4px;
    background-color: var(--primary-soft-red);
    margin: 0 auto;
    margin-top: 2px;
    position: absolute;
    top: 44px;
    left: 32%;
}

.button--feature:last-child{
    border-bottom: 1px solid var(--neutral-blue);
}

/*faqs*/

.faqs-container .button--box{
    margin: 0 auto;
    padding: 1rem 1.7rem;
}

/*form*/

.form .button--box{
    padding: 1rem 2rem;
}

/*footer*/

.button--footer a{
    font-weight: 100;
    letter-spacing: 1px;
    transition: all .6s ease;
}

@media (min-width:700px) {
    .intro__buttons{
        padding-left: 8rem;
        width: 60%;
    }

    .button--feature{
        flex-basis: 0;
        flex-grow: 1;
        border-top: 0;
        border-bottom: 1px solid var(--neutral-blue);
        padding: 1rem 2rem;
    }

    .button--feature--selected::after{
        width: 205px;
        top: 64px;
        left: 0%;
    }

    .form .button--box{
        flex-grow: unset;
    }
}